<div id="comment_<%= comment.id %>">
	<div class="user">
		<div class="image">
			<%= image_tag(comment.user.image(:thumb)) %>
		</div>
		<div class="name">
			<%= link_to comment.user.name, user_path(comment.user) %>
		</div>
		<div class="delete">
			<% if comment.user == current_user || @post.user == current_user %>
				<%= link_to "Delete", [comment.post, comment], method: :delete, remote: true %>
			<% end %>
		</div> 
	</div>

	<div class="content">
		<%= comment.content %>
	</div>	
</div>
