<!-- IF THE PROFILE BELONGS TO THE CURRENT USER -->
<% if @user == current_user %>
	<h1 class="user-header">
		<%= link_to image_tag(@user.image(:medium)), edit_user_registration_path(@user), class: "user-image" %>
		<%= @user.name %>

		<span class='user-edit'>
			<%= link_to edit_user_registration_path, class: "edit" do %>
				<i class="fa fa-pencil-square-o"></i>
			<% end %>
		</span>

		<div class="user-username">
			@<%= @user.username %>
		</div>

		<% if @user.description %>
			<p class="user-description">
				<%= @user.description %>
			</p>
		<% else %>
			<p class="user-description">
				<%= link_to "Write something about yourself!", edit_user_registration_path %>
			</p>
		<% end %>
		<p class="share-link"><%= link_to "Share your link!", new_post_path, remote: true %></p>
		<div class="index-form ajax" style="display:none;"></div>
	</h1>

<!-- IF THE PROFILE DOES NOT BELONG TO THE CURRENT USER -->
<% else %>
	<h1 class="user-header">
		<div class="user-image">
			<%= image_tag(@user.image(:medium)) %>
		</div>
		<%= @user.name %>
		<div class="user-username">
			@<%= @user.username %>
		</div>
		<% if @user.description %>
			<p class="user-description">
				<%= @user.description %>
			</p>
		<% end %>
	</h1>
<% end %>

<% @posts.each do |post| %>
	<div class="col-md-4">
		<div class="post-wrapper">
			<div class="image-wrapper">
				<%= link_to (image_tag post.image.url(:thumb)), post %>
			</div>
		
			<h1><%= link_to post.title, post %></h1>

			<div class="likes-comments">
				<i class="fa fa-comment-o">&nbsp;<%= pluralize(post.comments.count, "Comment") %></i>&nbsp;&nbsp;&nbsp;&nbsp;
				<i class="fa fa-thumbs-o-up">&nbsp;<%= pluralize(post.get_likes.size, "Like") %></i>
			</div>
		</div>
	</div>
<% end %>