<!-- IF THE PROFILE BELONGS TO THE CURRENT USER -->
<% if @user == current_user %>
	<h1 class="user-header">
		<%= link_to image_tag(@user.image(:medium)), edit_user_registration_path(@user), class: "user-image" %>
		<div class="user-name">
			<%= @user.name %>
		</div>

		<div class="user-username">
			@<%= @user.username %>
		</div>

		<span class='user-edit'>
			<%= link_to edit_user_registration_path, class: "edit" do %>
				<i class="fa fa-pencil-square-o"></i>
			<% end %>
		</span>

		<div class="follow-size">
			Followers: <span><%= @user.followers_count %></span> | Following: <span><%= @user.follow_count %></span>
		</div>

		<% if @user.description %>
			<p class="user-description">
				<%= @user.description %>
			</p>
		<% else %>
			<p class="user-description">
				<%= link_to "Write something about yourself!", edit_user_registration_path %>
			</p>
		<% end %>
		<p class="share-link"><%= link_to "Share your link!", new_post_path, remote: true %></p>
		<div class="index-form ajax" style="display:none;"></div>
	</h1>

<!-- IF THE PROFILE DOES NOT BELONG TO THE CURRENT USER -->
<% else %>
	<h1 class="user-header">
		<div class="user-image">
			<%= image_tag(@user.image(:medium)) %>
		</div>
		<div class="user-name">
			<%= @user.name %>
		</div>

		<div class="user-username">
			@<%= @user.username %>

			<div class="user-follow">
				<% if current_user.following?(@user) %> <!-- ALREADY FOLLOWING -->
					<%= link_to "Following", unfollow_user_path(@user), class: "following" %>
				<% else %>
					<%= link_to "Follow", follow_user_path(@user), class: "not-following" %>
				<% end %>
			</div>
		</div>

		<div class="follow-size">
			Followers: <span><%= @user.followers_count %></span> | Following: <span><%= @user.follow_count %></span>
		</div>

		<% if @user.description %>
			<p class="user-description">
				<%= @user.description %>
			</p>
		<% end %>
	</h1>
<% end %>

<% @posts.each do |post| %>
	<%= render partial: post %>
<% end %>