<!-- IF THE PROFILE BELONGS TO THE CURRENT USER -->
<% if @user == current_user %>
	<h1 class="user-header">
		<%= link_to image_tag(@user.image(:medium)), edit_user_registration_path(@user), class: "user-image" %>

		<div class="user-name">
			<%= @user.name %>
		</div>

		<div class="user-username">
			@<%= @user.username %>
		</div>

		<span class='user-edit'>
			<%= link_to edit_user_registration_path, class: "edit" do %>
				<i class="fa fa-pencil-square-o"></i>
			<% end %>
		</span>

		<div class="follow-size">
			<span class="follower-count">
				<%= link_to "Collected by: #{@user.followers_count}", all_followers_path(@user) %>
			</span> | 
			<span class="following-count">
				<%= link_to "Collecting: #{@user.follow_count}", all_following_path(@user) %>
			</span>
		</div>

		<% if @user.description %>
			<p class="user-description">
				<%= @user.description %>
			</p>
		<% else %>
			<p class="user-description">
				<%= link_to "Write something about yourself!", edit_user_registration_path %>
			</p>
		<% end %>
	</h1>

<!-- IF THE PROFILE DOES NOT BELONG TO THE CURRENT USER -->
<% else %>
	<h1 class="user-header">
		<div class="user-image">
			<%= image_tag(@user.image(:medium)) %>
		</div>

		<div class="user-name">
			<%= @user.name %>
		</div>

		<div class="user-username">
			@<%= @user.username %>

			<div class="user-follow">
				<% if user_signed_in? %>
					<% if current_user.following?(@user) %> <!-- ALREADY FOLLOWING -->
						<div class="follow-button">
							<%= render partial: "unfollow" %>
						</div>
					<% else %>
						<div class="follow-button">
							<%= render partial: "follow" %>
						</div>
					<% end %>
				<% else %> <!-- FAKE FOLLOW TAB FOR NON-REGISTERED USERS -->
					<%= link_to "Collect", new_user_registration_path, class: "not-following" %>
				<% end %>
			</div>

		</div>

		<div class="follow-size">
			<span class="follower-count">
				<%= link_to "Collected by: #{@user.followers_count}", all_followers_path(@user) %>
			</span> | 
			<span class="following-count">
				<%= link_to "Collecting: #{@user.follow_count}", all_following_path(@user) %>
			</span>
		</div>

		<% if @user.description %> <!-- USER'S PROFILE DESCRIPTION -->
			<p class="user-description">
				<%= @user.description %>
			</p>
		<% end %>
	</h1>
<% end %>

<% @posts.each do |post| %>
	<%= render partial: post %>
<% end %>