	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: false, placeholder: "Post title" %>
		<%= f.input :link, label: false, placeholder: "Post link (ex: www.wanderful.com)" %>
		<span class="image"><%= f.input :image, label: false %></span>
		<br>
		<%= f.input :description, label: false, placeholder: "Tell us about the link!" %>
		<br>
		<div class="form-button">
			<%= f.button :submit %>
		</div>
	<% end %>