	<%= simple_form_for @post, remote: true do |f| %>
		<%= f.input :title, label: false, input_html: { maxlength: 30 }, placeholder: "Post title (30 characters max)" %>
		<%= f.input :link, label: false, placeholder: "Post link (ex: www.wanderful.com)" %>
		<br>
		<%= f.input :description, label: false, placeholder: "Tell us about the link! #awesome #wanderful" %>
		<br>
		<div class="form-button">
			<%= f.button :submit %>
		</div>
	<% end %>