<div class="col-md-4">
	<div class="post-wrapper">
		<div class="image-wrapper">
			<%= link_to (image_tag post.image.url(:thumb)), post %>
		</div>
	
		<h1><%= link_to post.title, post %></h1>

		<div class="tags">
			<% if post.tags.size >= 1 %>
				<% post.tags.first(3).each do |tag| %>
					<%= link_to "##{tag.name}", tag_path(tag) %>
				<% end %>
			<% else %>
				 <p>No tags avaliable :(</p>
			<% end %>
		</div>

		<div class="likes-comments">
			<i class="fa fa-comment-o">&nbsp;
				<span><%= pluralize(post.comments.count, "Comment") %></span>
			</i>
				&nbsp;&nbsp;&nbsp;&nbsp;
			<i class="fa fa-thumbs-o-up">&nbsp;
				<span><%= pluralize(post.get_likes.size, "Like") %></span>
			</i>
		</div>

		<div class="post-user">
			Shared by: &nbsp;&nbsp;<%= link_to post.user.name, user_path(post.user) %>
		</div>

	</div>
</div>