<% if user_signed_in? %> <!-- SIGNED IN USER INTRO -->
	<h1 class="welcome">
		
		<span class="welcome-user">Hello 
			<span class="link-user"><%= link_to current_user.name, user_path(current_user) %></span>
		</span><br>

		<div class='search-intro'>What will you</div>

			<div class="search-bar">
				<%= form_tag(search_path, method: "get", remote: true) do %>
					<%= text_field_tag :search, nil, placeholder: "discover today", name: 'query', autofocus: true, required: true, class: "search-input" %>
					<button class='search-button glyphicon glyphicon-search'></button>
				<% end %>
			</div>

		<p class="share-link"><%= link_to "Share your link!", new_post_path, remote: true %></p>
		<div class="index-form ajax" style="display:none;"></div>

	</h1>
<% else %> <!-- GENERIC USER INTRO -->
	<h1 class="welcome">

		<span class="app-title">
			Wanderful
		</span>
		<span class="app-search">
			, &nbsp;Share and
			<div class="search-bar">
				<%= form_tag(search_path, method: "get", remote: true) do %>
					<%= text_field_tag :search, nil, placeholder: "discover the web!", name: 'query', autofocus: true, required: true %>
				<button class='search-button logout-search glyphicon glyphicon-search'></button>
				<% end %>
			</div>
		</span>
		<br>

		<p class="sign-up"><%= link_to "Join here!", new_user_registration_path, remote: true %></p>
		<div class="registration-form ajax" style="display:none;"></div>

	</h1>
<% end %>

<div id="search-anchor"></div> <!-- anchor for jumping to when search is queried -->
<div class="search-container" style="display:none;"></div>



<!-- POST DISPLAY LOOP -->
<div class="post-container">
	<% if user_signed_in? %>

		<% if current_user.follow_count >= 1 %>
			<% @posts_by_following.each do |post| %> <!-- show posts by users the current user is following -->
				<%= render partial: post %>
			<% end %>
		<% else %>
			<% @posts.each do |post| %> <!-- show worldwide posts when current user isnt following anyone -->
				<%= render partial: post %>
			<% end %>
		<% end %>

	<% else %>

		<h1 class="worldwide-feed signed-out-feed"><i class="fa fa-chevron-down"></i></h1>
		<% @posts.each do |post| %>
			<%= render partial: post %>
		<% end %>

	<% end %>
</div>

<br>