<% if user_signed_in? %>
	<h1 class="welcome">
		Hello <%= current_user.name %>, what did you find online today?
		<p><%= link_to "Share your link!", new_post_path %></p>
	</h1>
<% else %>
	<h1 class="welcome">
		Share what you find online, <span class="signup"><%= link_to "sign up today!", new_user_registration_path %></span>
	</h1>
<% end %>

<% @posts.each do |post| %>
	<div class="col-md-4">
		<div class="post-wrapper">
			<div class="image-wrapper">
				<%= link_to (image_tag post.image.url(:thumb)), post %>
			</div>
		
			<h1><%= link_to post.title, post %></h1>

			<div class="likes-comments">
				<i class="fa fa-comment-o">&nbsp;
					<span><%= pluralize(post.comments.count, "Comment") %></span>
				</i>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<i class="fa fa-thumbs-o-up">&nbsp;
					<span><%= pluralize(post.get_likes.size, "Like") %></span>
				</i>
			</div>

			<div class="tags">
				<% post.tags.each do |tag| %>
					<%= link_to tag.name, tag_path(tag) %>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<br>