<% if user_signed_in? %>
	<p>Hello <%= current_user.name %>, find anything cool online today?</p>
<% else %>
	<p>Share what you find online, sign up today.</p>
<% end %>

<% @posts.each do |post| %>
	<%= link_to (image_tag post.image.url(:thumb)), post %>
	<h1><%= link_to post.title, post %></h1>
	<p><%= post.comments.count %> Comments</p>
	<p><%= post.get_likes.size %> Likes</p>
<% end %>

<br>

<%= link_to "Add another site", new_post_path %>