<!DOCTYPE html>
<html>
<head>
  <title>Wanderful</title>
  <%= stylesheet_link_tag    'normalize', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="main-container">
  <div class="main-header">
    
    <div class="left">
      <p style="font-weight: normal"><%= link_to "Wanderful", root_path %><p>
      <% if user_signed_in? %>
      <%= link_to image_tag(current_user.image.url(:thumb)), user_path(current_user.id), class: "user-avatar" %>
        <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
      <% end %>
    </div>
    
    <div class="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="right">
      <% if user_signed_in? %>
        <p><%= link_to "Share Link", new_post_path %></p>
        <p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to "Log In", new_user_session_path %></p>
        <p><%= link_to "Sign Up", new_user_registration_path %></p>
      <% end %>
    </div>
  </div>

<%= yield %>

</div>
</body>
</html>
