<!DOCTYPE html>
<html>
<head>
  <title>Wanderful</title>
  <%= stylesheet_link_tag    'normalize', media: 'all' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'animate', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main-container">
  <div class="main-header">
  
    <div class="left">
      <% if user_signed_in? %>
        <%= link_to "Wanderful", root_path, class: 'title' %>
        <%= link_to image_tag(current_user.image.url(:thumb)), user_path(current_user.id), class: "user-avatar" %>
        <%= link_to "Share Link", new_post_path, class: 'share-link' %>
        <%= link_to new_post_path, class: "share-link-icon hidden" do %>
          <i class="fa fa-pencil-square-o"></i>
        <% end %>
      <% end %>
      <div class="drop-icon">
        <i class="fa fa-bars"></i>
      </div>
    </div>
    
    <div class="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div class="right">
      <% if user_signed_in? %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
  </div>

<%= yield %>

<i class="fa fa-chevron-up scroll-up"></i>

</div>
</body>
</html>
